:root {
  --Very-Dark-Grayish-Blue: #48556A;
  --Desaturated-Dark-Blue: #6C7F97;
  --Grayish-Blue: #9DAEC2;
  --Light-Grayish-Blue: #ECF2F8;
  --font-family: "Manrope", sans-serif;
  --font-size: 13px;
}

html {
  box-sizing: border-box;
  font-family: var(--font-family);
  font-size: var(--font-size);
  scroll-behavior: smooth;
}

*:after {
  box-sizing: inherit;
}

body {
  margin: 0;
  overflow-x: hidden;
  background-color: var(--Light-Grayish-Blue);
}

img {
  max-width: 100%;
  height: auto;
}

main {
  width: 340px;
  height: 90%;
  margin: 10px auto;
  box-shadow: 0 0 4px 1px var(--Grayish-Blue);
  border-radius: 10px;
  overflow: hidden;
  background-color: white;
}
main figure {
  margin: 0;
  width: 100%;
}
main .text {
  text-align: center;
  margin-top: -50px;
  background-color: white;
  position: relative;
  z-index: 20;
  padding: 20px;
  color: var(--Very-Dark-Grayish-Blue);
}
main .text h4 {
  text-align: start;
  font-size: 17px;
  padding: 0 7px;
}
main .text p {
  text-align: start;
  line-height: 22px;
  color: var(--Desaturated-Dark-Blue);
  padding: 0 7px;
}
main .text .footer {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 30px;
}
main .text .footer .footer-text {
  margin-left: 0px;
  margin-right: 50px;
  text-align: start;
}
main .text .footer .footer-text h3 {
  margin: 0;
  white-space: nowrap;
  color: var(--Very-Dark-Grayish-Blue);
  margin-bottom: 5px;
}
main .text .footer .footer-text h5 {
  margin: 3px 0 10px 0;
  color: var(--Desaturated-Dark-Blue);
  line-height: 18px;
}
main .text .footer figure {
  width: 50px;
  height: 50px;
}
main .text .footer figure img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
}
main .text .footer .footer-social {
  display: none;
}
main .text .footer .footer-social.is-active {
  position: absolute;
  top: -20px;
  bottom: -20px;
  left: -20px;
  right: -20px;
  background-color: var(--Very-Dark-Grayish-Blue);
  opacity: 95%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
main .text .footer .footer-social.is-active h4 {
  color: var(--Grayish-Blue);
  font-weight: 100;
  letter-spacing: 6px;
  margin: 10px;
}
main .text .footer .footer-social.is-active img {
  margin-right: 10px;
  height: 25px;
}
main .text .footer .button-container {
  position: relative;
  background-color: var(--Light-Grayish-Blue);
  padding: 9px;
  border-radius: 50%;
  margin-right: 20px;
  cursor: pointer;
  z-index: 1000;
}
main .text .footer .button-container.is-active {
  background-color: var(--Desaturated-Dark-Blue);
}
main .text .footer .button-container.is-active path {
  fill: var(--Light-Grayish-Blue);
}